<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/productDetail-Styles.css">
<%- include("partials/head")%>
<%- include("partials/header")%>
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;800&family=Roboto:wght@400;900&display=swap" rel="stylesheet">

<style>

    .imgContainer img{
        width: 500px;
        height: 700px;
    }

    .imgContainer{
        width: 600px;
    }

    .productContainer{
      display: flex;
      margin-top: 5%;
      margin-left: 3%;
      margin-bottom: 5%;
        
    }

    .productContainer .infoContainer{
        margin-top: 8%;
    }

    .submitregbutton{
        background-color: #0B5ED7;
        color: #FFF;
    }

    .description{
        
        color: darkgrey;
    }

    .form-select{
        width: 170px;
    }

    .col-md-3{
        margin-top: 5px;
        width: 70px;
        height: 40px;
        margin-bottom: 15px;
    }

    .name{
        font-size: 35px;
    }
</style>
<body>
 
    <div class="productContainer">
        
            
            <div class="imgContainer">
                <img src="/images/products/<%= product.image %>">
            </div>
            <div class="infoContainer">
            <h1 class="registerheader name"><%= product.name %></h1>
            <h4 class="registerheader">$<%= product.price %>  COP</h4>
            <select class="form-select" name="size_id">
                <option selected disabled>Seleccione Talla -</option>
                <option value="<%= product.size.id %>"><%= product.size.size %></option>
            </select>
            <input class="col-md-3" type="number" value="1">
            
            <!--<h3 class="registerheader">Material</h3>
                <p><%= product.material.material %> </p>-->
                <h3 class="registerheader">Descripción del producto:</h3>
                <p class="description"><%= product.description %> </p>
                <%//if(locals.userLogged && locals.userLogged.rol === ) {%>        
                    <div class="buttons">        
                    <button class="submitregbutton">Comprar</button>
                    <form action="/products/edit/<%= product.id %> " method="get">
                        <button class="submitregbutton"  type="submit" name="edit" value="Editar producto">Editar</button> 

                    </form>
                    
                    <form action="/products/<%=product.id%>?_method=DELETE" method="POST">
                        <button class="submitregbutton" type="submit" name="delete" value="Eliminar producto">Eliminar</button>
                    </form>
                </div>
            <%// }%>
        </div>
    </div>

   

    

</body>
<%- include("partials/footer") %> 

</html>