<!DOCTYPE html>
<html lang="en">
    <%- include("partials/head")%>
    <%- include("partials/header")%>
    
    <style>
        .product-image{
            width: 125px;
            
        }
        .cardContainer{
            display: flex;
            flex-direction: row;
        }
        .products{
            width: 350px;
        }
        
    </style>
<body>
    <main>
        <section>
            <h1 class="title-products">Página de todos los productos</h1>
            <% products.forEach(product => { %>
            <div class="cardContainer">
            <article class="products">
                <div class="card" style="width: 18rem;">
                            <a href="detail/<%=product.id %>">
                                <div class="product-image">
                            <img class="card-img-top" src="/images/products/<%= product.image %>" alt="...">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title"><%= product.name  %></h4>
                            <p class="card-text"><%= product.price %> </p>
                            <a href="detail/<%=product.id %>" class="btn btn-primary">Comprar</a>
                        </div>
                    </article>
                
                </a> 
                    <% }) %> 
                
            </div>
        </div>
        </section>
    </main>
    <%- include("partials/footer") %> 
</body>
</html>